/* Sidebar.module.css */

.sidebarContainer {
    width: 220px;
    height: calc(100vh - 160px);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    margin: 1.25rem 0 1.25rem 1.25rem;
    overflow: hidden;
    position: relative;
}

/* Custom scrollbar */
.customScrollbar::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    cursor: default;
}

.customScrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(85, 85, 85, 0);
}

.customScrollbar::-webkit-scrollbar-track {
    background-color: rgba(82, 82, 82, 0);
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(136, 136, 136, 0);
}

/* Firefox */
.customScrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}